@import "bootstrap";

html, body {
	height: 100%;
}

body {
	background-color: #F7F7F7;
	position: absolute;
	width: 100%;
	margin: 0;
}

.left_nav {
	font-size: 16px;
	position: fixed;
	ul {
		list-style: none;
		margin-left: 40px;
		li {
			padding-bottom: 5px;
		}
	}
}

a {
	color: black;
}

a:hover {
	color: black;
}

.container {
	margin-left: 200px;
}

.bottom_nav {
	position: absolute;
	bottom: 10px;
	padding: 0 5%;
	width: 90%;
	span.to_left {
		float: left;
		margin-left: 15px;
		a:first-child {
			padding-right: 15px;
		}
	}
	span.to_right {
		float: right;
		margin-right: 15px;
	}
}

hr {
	margin: 0;
	margin-bottom: 5px;
	border-top: none;
	border-bottom: 1px solid black;
}

