// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#sessions {
	.container {
		margin-left: auto;
		padding-left: 0;
	}

	form {
		margin: 0 auto; 
		margin-top: 20%;
		width: intrinsic;
		h1 {
			font-size: 30px;
		}
		.span3 {
			margin-left: 0;
		}
	}

	.input-block-level {
		border-color: black !important;
	}

	input[type="submit"] {
		visibility: hidden;
	}
}